@model DevIO.App.ViewModels.SiatiViewModel

@{
    ViewData["Title"] = "Excluir Siati";
}

<h1 style="padding-top:50px">Excluir Siati</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Resolvido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Resolvido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Resolucao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Resolucao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroProcesso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroProcesso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataCriacaoProcesso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataCriacaoProcesso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoProcesso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoProcesso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeProcesso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeProcesso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeUser)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a class="btn btn-info" asp-action="Index">Voltar</a>
    </form>
</div>
