@model IEnumerable<DevIO.App.ViewModels.SiatiViewModel>

@{
    ViewData["Title"] = "Lista de Siatis";
}

<h1>Lista de Siatis</h1>

<p supress-by-claim-name="Siati" supress-by-claim-value="Adicionar">
    <a class="btn btn-info" asp-action="Create">Novo Siati</a>
</p>
<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Resolvido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Resolucao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeUser)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Resolvido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Resolucao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeUser)
                </td>
                <td class="text-right">
                    <a class="btn btn-info" supress-by-claim-name="Siati" supress-by-claim-value="Details" asp-action="Details" asp-route-id="@item.Id">Detalhe</a>
                    <a class="btn btn-warning" supress-by-claim-name="Siati" supress-by-claim-value="Edit" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                    <a class="btn btn-danger" supress-by-claim-name="Siati" supress-by-claim-value="Delete" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>